.background {
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.379);
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    background-color: white;
    width: 90%;
    border-radius: 4px;
    padding-bottom: 1.5em;
  }
}
