.container {
  background: white;
  position: fixed;
  color: black;
  z-index: 20;
  bottom: 2em;
  right: 0.5em;
  border: black 1px solid;
  border-radius: 5px;
  text-align: center;
  padding: 0.5em 1em;

  button {
    background-color: transparent;
    border: 0;
    font-size: 0.9em;
  }
}

.header {
  font-weight: bold;
  font-size: 1.1em;

  i {
    color: green;
  }
}
