.container,
.mobile-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #6cc7d3;
  padding: 1.2em;
  color: black;
  font-weight: bold;
}

.mobile-view {
  position: relative;
  width: 100%;
  height: 2em;
}

.mobile-cat {
  font-size: var(--mobile-title-size);
}

.mobile-bars {
  font-size: 1.2em;
  position: absolute;
  right: 0em;
  top: 0em;
}
