.container {
  background-color: #252525;
  color: white;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  div {
    font-size: 1.2em;
    i {
      cursor: pointer;
    }
  }

  .btn {
    background-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    color: white;
    border-bottom: 3px solid white;
    width: 5.5em;
    text-align: center;
  }
}
