@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --mobile-title-size: 1.1em;
  --green: #6cc7d3;
  --red: #d62929;
}

html,
body {
  font-family: "Manrope", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  color: black;
  font-weight: bold;
  font-size: 1em;
}

input {
  margin: 0.5em 0 1em;
  height: 2.8em;
  font-size: 0.9em;
  outline: none;
  padding: 0.5em;
}

label {
  font-size: .9em;
  font-weight: bold;
}
